@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>О нас. Интернет-магазин кокосового масла из Таиланда: Blossom, Tropicana, ThaiPure</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="магазин кокосовое масло, кокосовое масло интернет магазин, кокосовое масло купить интернет магазин, тайское кокосовое масло, кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда" />
}

<div style="background:#3B4A3F url(/img/slide_mission.jpg) no-repeat 50% 90%; background-size:cover; height:300px; margin:0 0 60px;">
    <h1 style="font-family:'Times New Roman', Times, Georgia, Serif; font-size:26px; color:#fff; text-align:center; padding:85px 0 0;">
        ЗАБОТА О ЛЮДЯХ, ЛОЯЛЬНОСТЬ И ДОВЕРИЕ, <br />
        УВАЖЕНИЕ И ОТВЕТСТВЕННОСТЬ, <br />
        ЧЕСТНОСТЬ И УМЕРЕННОСТЬ, <br />
        ТРУДИТЬСЯ, СОЗДАВАТЬ И ДАРИТЬ
    </h1>
</div>

<div class="wrapper">
    <div class="content">
        <h2><span>ЛОЯЛЬНОСТЬ И ДОВЕРИЕ</span></h2>
        <p>
            Максимальная прозрачность деятельности Компании и высокое качество ее продукции лежат в основе нашей политики, 
            нацеленной на неизменное и постоянное внимание к нуждам потребителя.
        </p>
        <p>
            Наша приверженность интересами потребителей и доверие, которое они нам оказывают, покупая каждый день нашу продукцию – 
            вот основа наших долгосрочных отношений.
        </p>
        <p>
            Деятельность компании основана на взаимном доверии между коллегами, преданности и открытости по отношению к Группе, 
            а также ко всем членам сообщества, с которыми мы ежедневно взаимодействуем.
        </p>
        <p class="h30"></p>
        <p class="h30"></p>

        <h2><span>УВАЖЕНИЕ И ОТВЕТСТВЕННОСТЬ</span></h2>
        <p>
            Защита здоровья человека и окружающей среды находится в центре внимания нашей производственной деятельности.
        </p>
        <p>
            В процессе управления нашим производством мы рационально используем ресурсы (воду, энергию, сырьё и другие материалы, включая возобновляемые ресурсы). 
        </p>
        <p>
            Мы боремся за уменьшение нашего воздействия на окружающую среду путем сокращения выбросов, уменьшения количества отходов и их правильной утилизации.
        </p>
        <p class="h30"></p>
        <p class="h30"></p>

        <h2><span>ЧЕСТНОСТЬ И УМЕРЕННОСТЬ</span></h2>
        <p>
            В наших коммуникациях с потребителями (включая рекламу) мы уважаем человеческое достоинство и ценности семьи и детей в соответствии с моральными и этическими принципами. 
            Они основаны на правильном использовании наших продуктов и продвижении идей здорового образа жизни.
        </p>
        <p>
            При взаимодействии с общественностью на местном, национальном и международном уровнях мы опираемся на прочные научные знания, интеллектуальную и поведенческую честность и прозрачность.
        </p>
        <p class="h30"></p>
        <p class="h30"></p>

        <h2><span>ТРУДИТЬСЯ, СОЗДАВАТЬ, ДАРИТЬ</span></h2>
        <p>
            Наш безусловный приоритет – реальные действия;<br />
            На этом убеждении «быть, а не казаться» строится наш ежедневный труд.
        </p>
        <p>
            Эти принципы Компании лежат в основе Кодекса корпоративной этики Ferrero
        </p>
        <p class="h30"></p>
        <p class="h30"></p>

        <h2><span>НАША ПРОДУКЦИЯ</span></h2>
        <p>
            — 100% натуральна<br /><br />
            — 100% органические масла холодного отжима, с активными, живыми свойствами<br /><br />
            — Большая часть ручной работы для обеспечения оптимальной свежести<br /><br />
            — Упакованна в биоразлагаемую тару, чтобы уменьшить количество отходов <br />и сохранить качество продуктов и все 100% полезных веществ
        </p>
        <p class="h30"></p>
        <p class="h30"></p>

        <h2><span>НАША ПРОДУКЦИЯ ИСКЛЮЧАЕТ</span></h2>
        <p>
            — Синтетические красители и консерванты<br /><br />
            — Продукты нефтепереработки<br /><br />
            — Парабены<br /><br />
            — Лаурилсульфат натрия (SLES)<br /><br />
            — Сульфат лаурет натрия (SLS)<br /><br />
            — Диэтаноламин (DEA) триэтаноламин (TEA) моноэтаноламин (МЕА) или полиэтиленгликоль (ПЭГ)<br /><br />
            — Генетически модифицированные (ГМО) или инженерные ингредиенты<br /><br />
            — Техническую воду, синтетические эмульгаторы или наполнители<br /><br />
            — Тестирование на животных<br /><br />
            — Химию и примеси<br /><br />
            — Дезодорирование <br /><br />
            — Гидрогенизацию <br /><br />
            — Рафинирование<br /><br />
            — Термообработку
        </p>
    </div>
</div>