@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Причина купить у нас. Выгоды, бонусы, скидки. Интернет-магазин кокосового масла из Таиланда: ThaiPure, Tropicana</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="магазин кокосовое масло, кокосовое масло интернет магазин, кокосовое масло купить интернет магазин, тайское кокосовое масло, кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда" />
}

<div class="wrapper">
    <div class="content">
        <h2><span>9 НАШИХ ГЛАВНЫХ ПРЕИМУЩЕСТВ</span></h2>
        <ol>
            <li><strong class="brown">Бесплатная доставка</strong>. Мы бесплатно отправим масло в любой город России. Все расходы мы берём на себя. 
                Заказывать кокосовое масло у нас действительно выгодно!</li>
            <li><strong class="brown">100% качество</strong> от уникального производителя. Мы продаём 100% натуральное кокосовое масло только высшего качества. 
                Масло производится в центрифуге без нагрева, что позволяет сохранить все питательные вещества и элементы, а именно витамин Е, лауриновую кислоту 
                и монолаурин. Масло не содержит никаких добавок, красителей и ароматизаторов. 
                Производство масла холодного отжима на оборудовании Thaipure Coconut Oil занимает всего <strong class="brown"><nobr>5 минут!</nobr></strong> 
                Быстрота процесса позволяет предотвратить нежелательные химические реакции, кокосовое масло остается чистым и прозрачным, имеет легкий и приятный аромат кокоса.</li>
            <li><strong class="brown">Удобные формы оплаты</strong>. Для Вашего удобства мы используем различные способы оплаты.</li>
            <li><strong class="brown">Скидки постоянный клиентам</strong> и бонусная программа. Мы делаем скидки постоянным клиентам. Покупая у нас Вы экономите свои деньги.</li>
            <li>У нас всегда <strong class="brown">свежее кокосовое масло</strong>, благодаря постоянным поставкам и тому что мы продаём только его и ничего больше. Масло не простаивает на полках. 
                От производства до нашего склада доставка занимает 2 недели.</li>
            <li><strong class="brown">Гарантия 100% возврата</strong>. Если наш товар Вам не понравится, мы вернём Вам деньги, по первому требованию без выяснения причин и задавания вопросов.</li>
            <li><strong class="brown">Бесплатные консультации специалистов</strong>. Если вы не уверены в качестве товара или в том, что товар вам подойдёт, 
                или в сроках доставки, Вы можете связаться с нашими специалистами по телефону и получить бесплатную консультацию.</li>
            <li><strong class="brown">Качественный сервис</strong>. Свяжитесь с нами по любому вопросу: какое масло лучше заказать, по вопросам сотрудничества, 
                о покупке и т.д. Мы всегда открыты для общения.</li>
            <li>Мы постоянно сравниваем различные марки и <strong class="brown">находим лучшее</strong>. Поэтому наши покупательницы остаются <strong class="brown">довольны</strong>.</li>
        </ol>
        P.S. Мы знаем всё о кокосовом масле! :)
    </div>
</div>