@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Доставка и оплата. Интернет-магазин кокосового масла из Таиланда: Blossom, Tropicana, ThaiPure</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="тай пьюр, тайпьюр, thai pure, кокосовое масло из тайланда, кокосовое масло из таиланда купить, тайское кокосовое масло, кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда" />
}

<div style="background:url(/img/slide_delivery.jpg) no-repeat 50% 0; background-size:cover; height:250px; margin:0 0 60px;">
    <h1 style="font-family:'Times New Roman', Times, Georgia, Serif; font-size:26px; color:#fff; text-align:center; padding:110px 0 0;">
        ДОСТАВКА ПО МОСКВЕ И РЕГИОНАМ РОССИИ
    </h1>
</div>

<div class="wrapper">
    <div class="content">
        <h2><span>ДОСТАВКА</span></h2>

        @*<p>Все расходы по доставке мы берем на себя. Таким образом Вы экономите свои средства.</p>
        <p><a style="font-weight:bold;" href="/site/benefits">Узнать обо всех преимуществах »</a></p>
        <br />*@
        <p>
            <strong>Доставка по Москве</strong><br />
            Cрок доставки 1-2 дня. Доставка осуществляется курьерской службой.<br />
            Стоимость доставки по Москве до двери: 300 руб. <br />
            Стоимость доставки по Москве до метро: 250 руб. <br /><br />

            <strong>Самовывоз для покупателей из Москвы</strong><br />
            Заказы можно забрать по адресу ул. Скобелевская дом 1 (с Вами свяжется менеджер и уточнит, когда Вы сможете забрать заказ). <br />
            Самовывоз производится бесплатно!<br /><br />

            <strong>Доставка по России</strong><br />
            Доставка заказов осуществляются в адрес физического лица через «Почту России».<br />
            Cрок доставки 5-14 дней (в зависимости от вашего местоположения). При отправке Вашего заказа мы сообщим Вам номер посылки, по которому Вы можете следить за ходом доставки.<br />
            Стоимость доставки в Регионы: 250 руб. Ускоренная доставка 1 классом - дороже на 60-100 рублей.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <h2><span>ОПЛАТА</span></h2>
        <p>Любое кокосовое масло в нашем магазине Вы можете купить <br />с помощью одного из нижеприведенных способов:</p>
        <div>
            <strong>1. Оплата наличными курьеру (для Москвы и Санкт-Петербурга)</strong><br />

            <strong>2. Без комиссии</strong><br />
            <ul style="padding:0 0 0 20px;">
                <li>
                    Яндекс.Деньги <span class="red">(самый простой и удобный способ)</span>. <a href="javascript:;" onclick="$('toggle_yandex').toggleClass('dn');">Узнать подробнее »</a><br /><br />
                    <div id="toggle_yandex" class="dn" style="font-size:16px;">
                        <div class="cb" style="font-size:14px;">
                            @*<img class="db" alt="" src="/img/payment/yandex_money.png"/>
                            <p class="h5"></p>*@
                            <h2>— Оплата c банковской карты</h2>
                            <div style="margin:0 0 0 30px;">
                                <strong class="brown">- <span class="red">Удобно!</span> Банкоматы Сбербанка</strong>
                                <div style="margin:0 0 0 15px;">
                                    <div style="padding:10px 0 5px;">
                                        <img alt="" src="/img/payment/sberbank.png"/>
                                    </div>
                                    Через банкоматы Сбербанка РФ вы можете пополнить счет в Яндекс.Деньгах <br />с пластиковой карты, выданной <strong>любым российским банком!</strong><br />
                                    Деньги зачисляются на счет мгновенно — без комиссии*.<br />
                                    <span class="grey">* Информация о размере комиссии, взимаемой партнерами Яндекс.Денег, является справочной. Уточнить ее актуальность 
                                        вы можете в справочной службе банка.</span><br /><br />

                                    <strong>Чтобы пополнить счет, нужно:</strong>
                                    <ol>
                                        <li>Вставить карту в банкомат или терминал и ввести пин-код.</li>
                                        <li>Выбрать в меню пункт «Оплата услуг» и нажать «Далее».</li>
                                        <li>Выбрать пункт «Электронные деньги» и нажать «Яндекс».</li>
                                        <li>Указать номер счета в Яндекс.Деньгах, который вы хотите пополнить. Затем — нажать «Далее».</li>
                                        <li>Указать сумму платежа и нажать «Далее».</li>
                                        <li>Проверить, всё ли вы указали правильно, и нажать «Оплатить».</li>
                                    </ol>
                                    <a href="https://money.yandex.ru/list.xml?t=map&9&methods=5" target="_blank">Адреса банкоматов Сбербанка »</a><br />
                                    <a href="https://money.yandex.ru/doc.xml?id=524323" target="_blank">Пошаговая инструкция со скриншотами »</a>
                                </div>
                                <br />

                                <strong class="brown">- Интернет-банкинг (Сбербанк РФ, Альфа-Банк и т.д.)</strong>
                                <div style="margin:0 0 0 15px;">
                                    Не нужно вводить никакие реквизиты — достаточно указать номер счета.<br />

                                    С полным списком банков и пошаговых инструкций по пополнению счета Яндекс.Денег можно ознакомиться пройдя по ссылке <a href="https://money.yandex.ru/doc.xml?id=242314" target="_blank">money.yandex.ru/doc.xml?id=242314</a>
                                </div>
                                <br />
                            </div>
                            <h2>— Оплата наличными</h2>
                            <div style="margin:0 0 0 30px;">
                                <strong class="brown">- <span class="red">Удобно!</span> Терминалы (Сбербанк РФ, Банк Русский Стандарт, Московский Кредитный Банк, Мобил Элемент и т.д.)</strong>
                                <div style="margin:0 0 0 15px;">
                                    <div style="padding:10px 0 5px;">
                                        <img alt="" src="/img/payment/sberbank.png"/> <img alt="" src="https://money.yandex.ru/i/shop/moskredbank_logo_88_31.gif"/>
                                    </div>
                                    Терминалы самообслуживания, расположенные в общедоступных местах, магазинах и торговых центрах, 
                                    позволяют пополнить счет в Яндекс.Деньгах наличными на любую сумму. <br />Большинство терминалов работает круглосуточно.<br />

                                    С полным списком терминалов и пошаговых инструкций по пополнению счета Яндекс.Денег можно ознакомиться пройдя по ссылке <a href="https://money.yandex.ru/doc.xml?id=522781" target="_blank">money.yandex.ru/doc.xml?id=522781</a>
                                </div>
                                <br />

                                <strong class="brown">- <span class="red">Удобно!</span> Офисы продаж (Альт Телеком, Банзай, Евросеть и т.д.)</strong>
                                <div style="margin:0 0 0 15px;">
                                    <div style="padding:10px 0 5px;">
                                        <img alt="" src="https://money.yandex.ru/i/Euroset.gif"/> <img alt="" src="https://money.yandex.ru/i/shop/alt_logo_88x31.gif"/>
                                    </div>
                                    Вы можете пополнить счет в Яндекс.Деньгах наличными через кассы в офисах продаж. <br />Для этого нужно знать только номер счета.<br />

                                    С полным списком офисов продаж можно ознакомиться <br />пройдя по ссылке <a href="https://money.yandex.ru/doc.xml?id=523896" target="_blank">money.yandex.ru/doc.xml?id=523896</a>
                                </div>
                                <br />
                            </div>
                            <hr />
                        </div>
                        <p class="h10"></p>
                    </div>
                </li>
                <li>
                    На карту Сбербанка. <a href="javascript:;" onclick="$('toggle_sberbank').toggleClass('dn');">Подробнее »</a><br /><br />
                    <div id="toggle_sberbank" class="dn" style="font-size:14px;">
                        <h2 class="brown">Оплата заказа на карту Сбербанка</h2>
                        <span class="brown">* за операцию перевода может быть взята комиссия. Срок зачисления максимум 24 часа.</span><br /><br />
                        Положить деньги на карту Сбербанка очень просто.<br />
                        Есть несколько способов сделать это:<br /><br />

                        <strong class="brown">- Через банкомат с Вашей банковской картой</strong>
                        <div style="margin:0 0 0 15px;">
                            <div style="padding:10px 0 5px;">
                                <img alt="" src="/img/payment/sberbank.png"/>
                            </div>
                            Вставьте Вашу карту в банкомат, введите персональный пин-код и в меню выберите пункт «Перевод&nbsp;денег», введите номер карты и сумму, которую необходимо перевести. 
                            Подтвердите операцию и незабудьте взять чек.
                        </div>
                        <br />

                        <strong class="brown">- Наличными через банкомат с функцией cash-in (приём денег)</strong>
                        <div style="margin:0 0 0 15px;">
                            <div style="padding:10px 0 5px;">
                                <img alt="" src="/img/payment/sberbank.png"/>
                            </div>
                            Пополнить карту можно наличными деньгами через банкомат имеющий функцию cash-in (приём денег). 
                            Для этого достаточно в банкомате выбрать нужную операцию, ввести номер нашей карты и внести купюры.
                        </div>
                        <br />

                        <strong class="brown">- Через отделение сбербанка</strong>
                        <div style="margin:0 0 0 15px;">
                            <div style="padding:10px 0 5px;">
                                <img alt="" src="/img/payment/sberbank.png"/>
                            </div>
                            @* Покупателю нужно знать мой Номер карты и мою ФИО того и взять с собой паспорт *@
                            Необходимо обратиться в отделение банка <strong>(с паспортом)</strong> и в операционной кассе (в окне операций с банковскими картами) 
                            положить наличные деньги или совершить операцию перевода с вашего счета банковской карты Сбербанка на нашу карту. 
                            На карту деньги будут зачислены через несколько минут, иногда из-за перебоев в системе перевод может, занят несколько дней.
                            При этом банк взимает комиссию (она будет зависеть от пополняемой суммы, но не превысит 0,75%).
                        </div>
                        <br />
                        <hr />
                        <br />
                    </div>
                </li>
                @*<li>
                    QIWI Кошелёк. <a href="javascript:;" onclick="$('toggle_qiwi').toggleClass('dn');">Подробнее »</a><br /><br />
                    <div id="toggle_qiwi" class="dn" style="font-size:16px;">
                        <h2 class="brown">Прием платежей через платёжный интегратор Robokassa</h2>

                        <br /><br />
                    </div>
                </li>*@
                <li>
                    Webmoney (WMR). <a href="javascript:;" onclick="$('toggle_webmoney').toggleClass('dn');">Подробнее »</a><br /><br />
                    <div id="toggle_webmoney" class="dn" style="font-size:14px;">
                        <h2 class="brown">Оплата заказа через электронную систему расчётов WebMoney</h2>
                        <strong class="brown">- Перевод внутри системы</strong>
                        <div style="margin:0 0 0 15px;">
                            Вы можете передать (перевести) WM другому пользователю WebMoney.
                            Есть несколько особенностей которые Вам нужно учитывать при переводе денег со своего кошелька на наш:
                            <ol>
                                <li>Осуществить перевод средств можно только между однотипными кошельками. То есть деньги с рублёвого "R" кошелька можно перевести только на другой "R" кошелёк.</li>
                                <li>При переводе средств номер кошелька получателя обязательно указывается вместе с ключевой буквой ("R", "Z", "U"), которая обозначает тип кошелька.</li>
                                <li>За каждый перевод Webmoney снимает процент от переводимой суммы (0,8%), но сумма комиссии не может быть меньше 0,01 WM и не может быть больше суммы эквивалентной 1500 руб.</li>
                                <li>При переводе указывайте сумму которую нужно перевести другому пользователю Webmoney не учитывая комиссии, комиссия снимется дополнительно 
                                    в автоматическом режиме. То есть если Вам нужно перевести 1000 руб, то в поле "Сумма" вводите именно 1000 руб.
                                     Система переведёт получателю 1000 руб. и дополнительно сама снимет свою комиссию.</li>
                            </ol>
                        </div>
                        <br />

                        <strong class="brown">- Обменные пункты WebMoney</strong>
                        <div style="margin:0 0 0 15px;">
                            С полным списком обменных пунктов Вы можете ознакомиться пройдя <br />по ссылке <a href="http://www.webmoney.ru/rus/cooperation/exchange/interexchange.shtml" target="_blank">www.webmoney.ru/rus/cooperation/exchange/interexchange.shtml</a>
                        </div>
                        <br />
                        <hr />
                        <br />
                    </div>
                </li>
            </ul>

            <strong>3. Через платёжную систему Robokassa</strong> 
            (комиссия от 3% до 10%). <a href="javascript:;" onclick="$('toggle_robokassa').toggleClass('dn');">Подробнее »</a><br /><br />
        </div>

        <div style="font-size:13px;">
            <div id="toggle_robokassa" class="dn" style="font-size:16px; padding:0 0 30px 20px;">
                <h2 class="brown">Прием платежей через платёжный интегратор Robokassa</h2>
                Размер комиссии зависит от выбранного способа и составляет от 3% до 10% от суммы оплаты.<br />
                Ниже представлен список некоторых способов оплаты и размер комиссии.<br /><br />
            
                <div class="cb" style="font-size:14px;">
                    <div style="float:left; width:200px;">
                        <strong class="brown">Электронные кошельки:</strong><br />
                        Яндекс.деньги - 11%<br />
                        Вебмани WMZ - 2-5%<br />
                        Qiwi-кошелек - 7%<br />
                        MoneyMail - 8%<br />
                        RBK Money- 8%<br />
                        Единый Кошелек - 5%<br />
                        EasyPay - 7%<br />
                        Деньги@mail.ru - 11%<br />
                        Z-payment - 5%<br />
                        ВКонтакте - 7%<br /><br />
                    </div>
                    <div style="float:right; width:480px;">
                        <strong class="brown">Наличными через терминалы:</strong><br />
                        Элекснет - 7%<br />
                        Qiwi - 7%<br />
                        Уникасса - 5%<br />
                        Мобил Элемент - 5%<br />
                        Новоплат - 5%<br />
                        PinPay - 7,5%<br />

                        @*<strong class="brown">С помощью СМС-сообщения:</strong><br />
                        RUR SMS - 7,5%<br /><br />*@

                        <strong class="brown">Оплата через QIWI Кошелек:</strong><br />
                        RUR QIWI - 7,2%<br />

                        <strong class="brown">Через банкомат ВТБ24:</strong><br />
                        RUR ВТБ24 - 7%<br /><br />
                    </div>
                </div>
                <hr />
            </div>

            <div class="cb">
                <div style="float:left; width:350px; padding:0 0 0 20px;">
                    <strong>Оплата через платёжные системы:</strong>
                    <ul>
                        <li>QIWI &ndash; qiwi.ru</li>
                        <li>Webmoney - webmoney.ru</li>
                        <li>Яндекс.Деньги - money.yandex.ru</li>
                        <li>Rapida Online - rapidaonline.ru</li>
                        <li>MoneyMail - moneymail.ru</li>
                        <li>Деньги@mail.ru - moneymail.ru</li>
                        <li>Единый кошелек - w1.ru</li>
                        <li>RBK Money - rbkmoney.ru</li>
                        <li>EasyPay - easypay.by</li>
                        <li>LiqPay - liqpay.com</li>
                        <li>Z-payment - z-payment.ru</li>
                        <li>TeleMoney &ndash; telemoney.ru</li>
                        <li>Handy Bank - handybank.ru</li>
                    </ul>
                </div>
                <div style="float:right; width:330px;">
                    <strong>Сети магазинов и другие способы:</strong>
                    <ul>
                        <li>Связной &ndash; svyaznoy.ru</li>
                        <li>Евросеть &ndash; euroset.ru</li>
                        <li>i-Free &ndash; i-free.com</li>
                        <li>ВКонтакте - vk.com</li>
                        <li>Киберплат - cyberplat.ru</li>
                        <li>Eport - e-port.ru</li>
                        <li>Contact &ndash; contact-sys.com</li>
                        <li>Моё дело &ndash; moedelo.org</li>
                    </ul>
                </div>
            </div>
            <div class="cb">
                <div style="float:left; width:350px; padding:0 0 0 20px;">
                    <strong>Оплата через банки:</strong>
                    <ul>
                        <li>ОКЕАН БАНК &ndash; oceanbank.ru</li>
                        <li>Альфа-Банк &ndash; alfabank.ru</li>
                        <li>Промсвязьбанк &ndash; psbank.ru</li>
                        <li>РайффайзенБанк &ndash; raiffeisen.ru</li>
                        <li>Банк ВТБ24 &ndash; vtb24.ru</li>
                        <li>Банк Петрокоммерц &ndash; pkb.ru</li>
                        <li>Межтопэнергобанк &ndash; mteb.ru</li>
                        <li>Татфондбанк &ndash; tfb.ru</li>
                    </ul>
                </div>
                <div style="float:right; width:330px;">
                    <strong>Сети терминалов моментальной оплаты:</strong>
                    <ul>
                        <li>QIWI &ndash; qiwi.ru</li>
                        <li>Элекснет - elecsnet.ru</li>
                        <li>Кассира.нет - pscb.ru</li>
                        <li>Мобил Элемент - mobilelement.ru</li>
                        <li>Абсолют Плат - absolutplat.ru</li>
                        <li>Pinpay - pinpay.ru</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <hr />
        <p>&nbsp;</p>
        <p>Если у Вас возникли вопросы или проблемы при оплате заказа, пожалуйста, обратитесь в нашу Службу поддержки клиентов по телефону 8 916 915 36 82 или напишите по адресу <a style="font-weight:normal;" href="mailto:sales@thai-oil.ru">sales@thai-oil.ru</a></p>
        <p>&nbsp;</p>
        <hr />
        <p>&nbsp;</p>
        <p style="color:#666; font-size:12px;">&laquo;Thai-Oil.Ru&raquo; не собирает и не хранит данных о банковских картах клиента. При оплате заказа с&nbsp;помощью пластиковой карты все данные вводятся на защищенной странице сайта платежной системы и хранятся на безопасных серверах банковских систем.</p>
        <p style="color:#666; font-size:12px;">Безопасность электронных платежей обеспечивается на уровне мировых стандартов, сертифицированных международными платежными системами с использованием технологий 3D-Secure: Verified by Visa и SecureCode от MasterCard.</p>
        <p style="color:#666; font-size:12px;">3-D Secure используется как дополнительный уровень безопасности для онлайн-кредитных и дебетовых карт. Это достигается за счет того, что при оплате покупки по технологии 3-D Secure аутентификация владельца карты осуществляется на специальном сервере банка, выпустившего карту. Для аутентификации клиента требуется ввести пароль, известный только владельцу карты. Технология 3-D Secure поддерживается не всеми картами, что бы выяснить поддерживает ли ваша карта эти технологии защиты обратитесь в службу поддержки вашего банка.</p>
    </div>
</div>