@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Польза кокосового масла Thai Pure, Tropicana. Интернет-магазин кокосового масла из Таиланда: ThaiPure, Tropicana</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="тай пьюр, тайпьюр, thai pure, польза кокосового масла, кокосовое масло лучшее, кокосовое масло какое лучше, масло кокосовое косметическое, кокосовое масло для волос, кокосовое масло для загара, кокосовое масло для лица, кокосовое масло для тела, кокосовое масло для кожи, кокосовое масло от растяжек" />
}

<div class="content">
    <h1>О пользе и применении кокосового масла</h1>


    Аромат кокоса перенесет Вас в тропики к раскачивающимся пальмам и красивым белым песчаным берегам. Знаете ли Вы, что кокосовый орех-

    это ценный подарок для здоровья и красоты? Жители Азии часто используют продукты, содержащие кокос, для ухода за кожей и волосами, а 

    также при диете. Кокосовое молоко питает кожу, смягчает и разглаживает. Идеально подходит для ухода после солнца, за сухой и уставшей 

    кожей , предупреждает преждевременное старение и появление морщин. Кокосовый пилинг, содержащий высушенный тертый кокосовый орех 

    очень мягко очистит кожу, придаст ей гладкость и шелковистость. Натуральная кокосовая маска с хорошим увлажняющим эффектом, сделает 

    кожу мягкой, нежной и бархатистой. А незабываемый аромамассаж с кокосовым маслом подарит истинное тропическое блаженство, насытит 

    чувством комфорта и расслабления.
    Превосходная омолаживающая процедура для тех, кто ценит красоту. Пилинг на основе стружки кокоса и пудры белого риса и экстракта ванили 

    очищает и питает кожу, делает ее мягкой и шелковистой. Натуральная кокосовая маска омолаживает, интенсивно увлажняет и смягчает кожу. 

    Ритуал сопровождается нежным массажем с потрясающим кокосовым маслом. Идеально подходит для сухой, уставшей и чувствительной кожи.
    Spa пакет включает омовение ног в релакс комнате, разогрев тела в парной хаммам, пилинг для тела с кокосом для чувствительной кожи, 

    кокосовая маска, расслабляющий массаж с кокосовым маслом, нанесение лосьона для тела на Ваш выбор, сок/чай/кофе/вода.













    *****************************


    Как применять кокосовое масло
Проснувшись, не принимая еду и воду, и не чистя зубы пополоскайте ротовую полость 1 столовой ложкой кокосового масла 15-20минут. После сплевывания масла почистите зубы и язык.
Выпить 1-2 столовые ложки кокосового масла смешав с теплой водой или запить стаканом теплой воды для улучшения пищеварения и очистки кишечника.
Если вы хотите похудеть- принимайте кокосовое масло за 20 минут перед каждым приемом пищи, но не больше 3-3,5 столовых ложки в день.
Если вы первый раз пьете это масло начинайте прием с половины чайной ложки и постепенно увеличивайте. Для пожилых людей рекомендуется принимать не больше 1 столовой ложки кокосового масла в день.
После очистки зубов перед сном снова пополощите рот 15-20минут.
Вы можете натирать тело кокосовым маслом для питания и увлажнения кожи.
Для питания и восстановления волос нанесите на 30 минут кокосовое масло на кожу головы и на все волосы до кончиков, потом смойте шампунем.




    <h3></h3>
        <div class="content">
                        <a class="fancy" href="/img/2e22e7fdde24e36e.jpg"><img src="/img/2e22e7fdde24e36e.jpg" class="thumb" alt="" /></a>
                    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">В составе кокосового масла присутствует огромное количество 

    ценных кислот, среди которых можно выделить олеиновую, лауриновую, пальмитиновую, капровую, априловую, арахидоновую и 

    другие.&nbsp;</span></cite></span><span style="font-size: 14px; font-family: georgia, serif; ">Кроме того, оно богато витаминами (С, А, Е), 

    природными антиоксидантами, а также включает в свой состав естественный увлажнитель &ndash; гиалуроновую кислоту.</span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; "><strong>применение:</strong></span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Кокосовое масло обладает широким спектром полезных 

    свойств, &nbsp;его активно применяют в косметологии в качестве добавок в косметические средства (губная помада, шампуни и другие средства 

    для ухода за волосами, натуральные кремы, средства для снятия макияжа с глаз и т.д.) и в виде самостоятельного средства. &nbsp;Масло 

    очень&nbsp; быстро впитывается в кожу,&nbsp; не оставляет жирного налета и не закупоривает поры. Обладает высокой биологической 

    активностью &ndash; увлажняет и питает кожу, делая ее бархатистой, разглаживает кожу, способствуя исчезновению 

    морщин.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Кокосовое масло применяется для ухода за кожей лица 

    (включая веки и кожу вокруг глаз) и тела.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Полезно при сухой, раздраженной, чувствительной коже. 

    Питает кожу, способствует сохранению влаги, делая кожу гладкой и нежной.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Эффективно при сухости, шелушении кожи и 

    трещинах.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Способствует восстановлению кожи при потертостях, 

    опрелостях, раздражении.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Подходит для ухода за волосами и кожей головы 

    .</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Масло хорошо смешивается с другими растительными 

    маслами и готовыми косметическими продуктами, расширяя и обогащая, таким образом, их действие.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Идеальное средство для снятия макияжа вокруг 

    глаз.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">В качестве массажного масла &ndash; расслабляет мышцы, 

    благоприятно действует на нервную систему. Применяется для ухода за кожей лица (включая веки и кожу вокруг глаз) - сферхэффективное 

    увлажнение.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Прекрасно подходит для беременных и кормящих 

    матерей.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Безопасно для ухода за детской кожей и кожей 

    новорожденных.</span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Кокосовое масло гипоаллергенно. Не имеет противопоказаний. 

    </span></cite></span></p>
    <p style="text-align: justify;">
	    <span style="font-family:georgia,serif;"><cite><span style="font-size: 14px; ">Кокосовое масло для кожи дает долговременный эффект, и при 

    постоянном его&nbsp; использовании проникает в слои дермы, возвращая молодость. Нежнейшая текстура кокосового масла с божественным 

    запахом спелого кокоса доставит вам истинное наслаждение!</span></cite></span></p>
        </div>
</div>