@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Как заказать. Интернет-магазин кокосового масла из Таиланда: ThaiPure, Tropicana</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="тай пьюр, тайпьюр, thai pure, кокосовое масло цена, кокосовое масло стоимость, сколько стоит кокосовое масло, кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда" />
}

<h2 class="center">КАК МЫ РАБОТАЕМ</h2>
<div style="height:340px; background:url(/img/step_howtoorder.png) no-repeat 50% -40px;">
    
</div>
<div class="content">
    <h1>ИНСТРУКЦИЯ ПО ОФОРМЛЕНИЮ ЗАКАЗА</h1>
    @*<p>
        Хочется, чтобы кожа выглядела моложе, волосы были безупречны, а несовершенств было как можно меньше?<br />
        Хочешь замедлить процессы старения кожи, сохранить её упругость и уменьшить видимость морщин?<br />
        Морщины, расширенные поры, загрубевшая кожа и тусклый цвет лица &mdash; первые признаки старения!
                                                            
        Наше кокосовое масло питает и восстанавливает сухие и поврежденные волосы.
        Ваша кожа станет мягкой, гладкой и будет выглядеть моложе!
    </p>

    Косметическое серия Конопляное масло - настоящее спасение для обветренной, загрубевшей или очень сухой кожи. Она обладает длительным интенсивным увлажняющим 
    эффектом. Благодаря высокой концентрации жирных кислот коноплянное масло помогает восстанавливать уровень влаги в коже, делая её нежной и гладкой.
    
    смягчяет и увлажняет кожу, придавая рукам ухоженный вид.

    кокосовое масло особенно эффективно воздействует на сухую и чувствительную кожу рук.
    *@



    <p>Заказ можно оформить, как по телефону с 9:00 до 20:00 без выходных, так и круглосуточно <br />на самом сайте.</p>
    <p>&nbsp;</p>
    <h2>Заказать кокосовое масло в интернет-магазине «Thai-Oil.Ru» <br />можно тремя способами:</h2>
    <ul>
        <li>
            <p><strong>Самый простой и удобный способ:</strong></p>
            <ol>
                <li>Жмёте кнопку &laquo;Заказать звонок&raquo; в правом верхнем углу рядом с телефоном. Мы перезваниваем и узнаём наименование, количество, адрес доставки и другую необходимую информацию.</li>
                <li>Cообщаем как оплатить и высылаем Вам товар. Осталось дождаться доставки.</li>
            </ol>
        </li>
        <li>
            <p><strong>Выбираете на сайте масло, которое желаете приобрести:</strong></p>
            <ol>
                <li>Звоните нам по телефону и сообщаете наименование, количество, адрес доставки.</li>
                <li>Договариваемся об удобном способе оплате.</li>
                <li>Ожидайте доставки товара.</li>
            </ol>
        </li>
        <li>
            <p><strong>Третий способ, нажать кнопку «купить» и оформить заявку:</strong></p>
            <ol>
                <li>Выберите масло и объём.</li>
                <li>Нажмите кнопку &laquo;Купить&raquo;.</li>
                <li>Заполните форму заказа.</li>
                <li>После того, как Вы внесли все данные, и отправили заказ нам на обработку, наш менеджер сразу же свяжется с Вами и уточнит условия оплаты и доставки.</li>
                <li>Оплачиваете заказ и ожидайте доставки товара.</li>
            </ol>
        </li>
    </ul>
    <p>&nbsp;</p>
    @*<p>После оформления заказа Вы получите подтверждение по электронной почте!</p>*@
    <h2>Приятных покупок!</h2>
</div>