@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Партнеры. Интернет-магазин кокосового масла из Таиланда: Blossom, Tropicana, ThaiPure</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="магазин кокосовое масло, кокосовое масло интернет магазин, кокосовое масло купить интернет магазин, кокосовое масло из тайланда, кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда" />
    <style>
        .partner_wrapper {margin:0 150px;}
        .partner_wrapper .item {font-size:14px; font-family:'Segoe UI'; margin:0 0 15px;}
    </style>
}

<div style="background:#F9FAF6 url(/img/slide_contacts.jpg) no-repeat 50% 0; background-size:cover; height:650px; margin:0 0 60px;">
    <div class="wrapper">
        <div class="content cb" style="margin:0 100px;">
            <p class="h30"></p>
            <p class="h10"></p>

            <h2><span>ПРИГЛАШАЕМ К СОТРУДНИЧЕСТВУ</span></h2>

            <div style="float:left; width:380px;">
                <p>
                    Мы уверены что здоровый уход также, как и здоровое питание, нуждается в чистых, полезных и питательных ингредиентах. Чтобы достигнуть этого в продуктах Blossom,
                    мы сотрудничаем с сетью доверенных международных производителей, которые применяют предельное умение, уход и внимательность в культивировании и сборе урожая.
                </p>
                <p>
                    Ингредиенты, которые мы используем в наших продуктах, выращиваются с использованием строгих органических и биодинамических методов, которые помогают обеспечить 
                    не только наше здоровье, как потребителей и производителей, но и всей планеты как процветающей экосистемы.
                </p>
            </div>
            <div style="float:right; width:380px;">
                <p>
                    Благодарим Вас за интерес, проявленный к нашей компании. Мы осуществляем торговую оптовую деятельность и регулируем ценовую политику на территории России.
                </p>
                <p>
                    В настоящий момент наш бизнес активно развивается и мы рады новому партнерству с компаниями в различных регионах России. <br /><br />
                    Вы можете начать сотрудничество с нами уже сегодня, позвонив по телефону 8 800 775 48 71.
                </p>
                @*<p>
                    Нашим дилерам, таким как магазины, клубы питания мы рады предложить специальную, оптовую цену на весь ассортимент нашей продукции, 
                    оперативную доставку, рекламную поддержку, промоакции и многое другое.

                    Обращаем внимание рестораны и кофе! Компания Blossom Group имеет особое удовольствие сделать свое предложение и Вам. 
                    Расширьте свое меню нашими великолепными рецептами. Производимые нами продукты, могут быть так же интересны кондитерским 
                    фабрикам, производствам органических продуктов питания, производствам органической косметики и салонам красоты. Мы открыты для всех!
                </p>*@
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <h2><span>ТОЧКИ РЕАЛИЗАЦИИ НАШЕЙ ПРОДУКЦИИ</span></h2>
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=Ut0agytH5q6RjOgyQ1Xvs3VdgtCBP66n&width=1000&height=450"></script>

    <p class="h30"></p>
    <p class="h10"></p>

    <div class="partner_wrapper">
        <h1>В Москве</h1>

        <div class="item">
            <strong>Оптовая компания и интернет-магазин «Боб какао»</strong><br />
            м. Курская, Нижний Сусальный пер., д. 5 стр. 23<br />
            +7 499 705 19 13 — бобкакао.рф — info@bobcacao.com
        </div>
        <div class="item">
            <strong>Вегетарианское кафе «СОК»</strong><br />
            м. Третьяковская, Лаврушинский пер. д. 15<br />
            +7 495 953 79 63 — cafe-cok.ru — info@cafe-cok.ru
        </div>
        <div class="item">
            <strong>Массажный салон «EXOTIC BEAUTY»</strong><br />
            м. Юго-западная, БП "Румянцево", корпус Г, Киевское шоссе, дом 1<br />
            +7 499 550 38 38
        </div>
        <div class="item">
            <strong>Массажный салон «Нирвана СПА»</strong><br />
            Химки, ул. Родионовская, 10 корп 1<br />
        </div>
        <div class="item">
            <strong>Фитнес-центр «Enjoy-Fitness»</strong><br />
            Дербеневская наб., д.7, стр.6<br />
            +7 495 744 17 44 — enjoy-fitness.ru — managerspa@enjoy-fitness.ru
        </div>
        <div class="item">
            <strong>Массажный салон «AikiBeauty»</strong><br />
            г. Химки, ул. Молодёжная, д.60<br />
            +7 498 689 02 25 — aikibeauty.ru — aikibeauty@mail.ru
        </div>
        <div class="item">
            <strong>Массажный салон «MaiTai»</strong><br />
            м. Маяковская, Малый Козихинский пер., д 3<br />
            +7 985 643 62 61 — maitai.ru — spamaitai@inbox.ru
        </div>
        <div class="item">
            <strong>Эко-аптека ООО «Эко Мир»</strong><br />
            м. Строгино, Маршала Катукова, дом 24, корпус 5<br />
            +7 499 740 17 01 — ecomir2000@mail.ru<br />
            +7 916 674 59 98 (Елена) 	
        </div>
        <div class="item">
            <strong>Интернет-магазин «Жива.ру»</strong><br />
            м. Тверская, ул. Тверская 12 стр 8<br />
            +7 915 197 56 25 — dziwa.ru — privet@dziwa.ru
        </div>
        <div class="item">
            <strong>Интернет-магазин «Экотопия»</strong><br />
            м. Достоевская, ул. Самотечная, дом 17а<br />
            +7 (495) 684 57 47 — ecotopia.ru — eco@ecotopia.ru
        </div>
        <div class="item">
            <strong>Йога-центр «I-Yoga.ru»</strong><br />
            м. Кузнецкий мост, Большой Кисельный переулок, д. 7, стр. 2<br />
            +7 495 628 88 55 — i-yoga.ru — i-yoga@mail.ru
        </div>
        <div class="item">
            <strong>Интернет-магазин «Maslo-Kokos»</strong><br />
            м. Скобелевская, ул. Скобелевская, дом 1<br />
            +7 495 204 12 00 (Валентина) — maslo-kokos5.ru — valiatkk@gmail.com
        </div>
         <div class="item">
            <strong>Интернет-магазин товаров для здоровья и красоты «МедКарт»</strong><br />
            м. Дубровка, ул. Шарикоподшипниковская, д.13, стр.А, офис 23<br />
            +7 495 988 08 02 — medcart-shop.ru
        </div>
        <div class="item">
            <strong>Центр профессионального омоложения Ирины Шевко</strong><br />
            м. Петровско-Разумовская, ул. Дубнинская, д. 27, корп. 1<br />
            +7 499 481 00 16 — иринашевко.рф
        </div>
        <div class="item">
            <strong>Йога-центр «Sarasvati Place»</strong><br />
            м. Арбатская, ул. Старый Арбат 12<br />
            +7 499 674 09 39 — sarasvatiplace.ru
        </div>

        <p class="h30"></p>
        <p class="h10"></p>

        <h1>В регионах</h1>

        <div class="item">
            <strong>Розничный магазин «Здоровья»</strong><br />
            г. Хоста / Сочи, ул. Ялтинская 14, магазин «Здоровья»<br />
            8 918 648 71 92 (Светлана)
        </div>
    </div>
</div>