@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Оплата прошла успешно. Интернет-магазин кокосового масла из Таиланда: ThaiPure, Tropicana</title>
}

<div class="content">
    <h1 style="text-align:center; color:#8EA204;"><strong>Оплата прошла успешно!</strong></h1>
    <h1 style="text-align:center;">Благодарим Вас за покупку в нашем интернет-магазине!</h1>
</div>