@{
    Layout = "~/_template.cshtml";
}
@section title {
    <title>Отмена оплаты. Интернет-магазин кокосового масла из Таиланда: ThaiPure, Tropicana</title>
}

<div class="content">
    <h1 style="text-align:center; color:#9C3017;"><strong>Оплата была отменена</strong></h1>
</div>