@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Кокосовое масло оптом. Интернет-магазин кокосового масла из Тайланда</title>
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда, кокосовое масло из тайланда купить, кокосовое масло для волос, кокосовое масло для загара, кокосовое масло для лица, кокосовое масло интернет магазин, польза кокосового масла" />
    <meta name="viewport" content="width=900, maximum-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <script src="/js/mootools-core-1.4.5.js"></script>
    <style type="text/css">
        *{outline:0;}
        html{color:#000;background:#FAF9F5;}
        html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td{margin:0;padding:0;}
        img{border:0; -ms-interpolation-mode:bicubic;}
        label{cursor:pointer;}
        body {font:14px/1.4 'Segoe UI Light', 'Segoe UI', Calibri, Tahoma, Arial, Helvetica, sans-serif;}

        input[type=text], textarea {border:0; padding:0; color:#333; font-family:'Segoe UI Light'; font-size:20px; height:26px; width:90%;}
        input[type=text]:focus {color:#000;}

        .recall {width:180px; height:34px; position:absolute; top:90px; left:660px;}

        .slides {position:absolute; top:315px; left:35px;}
        .slides img {position:absolute; top:0; left:0;}

        .top_form {position:absolute; top:458px; left:537px; width:310px; padding:6px 0 0;}
        .top_form input {margin:0 10px;}
        .top_form p {height:23px;}
        .top_form .submit {display:block; height:45px; margin:0 30px;}
        .top_form .submit.preload {background:url(/img/preloader.gif) no-repeat 0 50%; margin:0;}

        .bottom_form {position:absolute; bottom:176px; left:537px; width:310px; padding:6px 0 0;}
        .bottom_form input {margin:0 10px;}
        .bottom_form p {height:23px;}
        .bottom_form .submit {display:block; height:45px; margin:0 30px;}
        .bottom_form .submit.preload {background:url(/img/preloader.gif) no-repeat 0 50%; margin:0;}
        
        .bt_popup_back {z-index:100; position:absolute; top:0; left:0; width:100%; background:#000;}
        .bt_popup_cont {z-index:101; position:absolute; top:0; left:0; min-width:32px; min-height:32px;
	        padding:10px; border:1px solid #454545; background:#fff;
	        border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	        -webkit-box-shadow:0 0 20px #212121; -moz-box-shadow:0 0 20px #212121; box-shadow:0 0 20px #212121;}
        .bt_popup_cont.preload {background:#fff url(/img/preloader.gif) no-repeat 20px 87%;}
        .bt_popup_cont.preload2 {background:#fff url(/img/preloader.gif) no-repeat 20px 94%;}
        .bt_popup_border {border:1px solid #A39167; padding:10px;
            border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
        .bt_popup_cont .close_btn {position:absolute; top:-18px; right:-18px; cursor:pointer;}
        .bt_popup_cont .submit {display:block; width:200px; margin:10px auto; padding:10px 0; font-size:14px; border-radius:5px;
            color:#fff; font-weight:bold; border:0; cursor:pointer; text-decoration:none; text-align:center;
            background:#633F20;
            background:-moz-linear-gradient(top, #A39167 0%, #633F20 100%);
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#A39167), color-stop(100%,#633F20));
            background:-webkit-linear-gradient(top, #A39167 0%,#633F20 100%);
            background:-o-linear-gradient(top, #A39167 0%,#633F20 100%);
            background:-ms-linear-gradient(top, #A39167 0%,#633F20 100%);
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#A39167', endColorstr='#633F20',GradientType=0 );
            background:linear-gradient(top, #A39167 0%,#633F20 100%);}
        .bt_popup_cont .submit:hover {color:#FFFFA3;}

        .cert_popup {text-align:center;}
        .cert_popup img {width:550px; display:block; margin:0 auto 10px;}

        .popup_form h1 {font-size:18px; text-align:center; font-weight:normal; margin:0 0 15px;}
        .popup_form input[type=text] {border:1px solid #A39167; border-radius:5px; padding:6px 10px 7px; width:90%;}
        .popup_form textarea {border:1px solid #A39167; border-radius:5px; padding:6px 10px 7px; width:90%; min-height:100px; font-size:16px;}
        .popup_form p {padding:5px 0;}
    </style>
</head>
<body>
    <div style="width:900px; margin:0 auto; position:relative; height:4600px; background:url(/img/opt/bg.jpg) no-repeat 50% 0;">
        <a class="recall" href="#"></a>

        <div class="slides">
            <img alt="" src="/img/opt/slide1.jpg" />
            <img alt="" src="/img/opt/slide2.jpg" />
            <img alt="" src="/img/opt/slide3.jpg" />
        </div>

        <form class="top_form" action="#" method="post">
            <input type="text" name="name" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
            <p></p>
            <input type="text" name="email" value="Email" onfocus="if(this.value=='Email') this.value='';" onblur="if(this.value=='') this.value='Email';" />
            <p></p>
            <input type="text" name="phone" value="Телефон*" onfocus="if(this.value=='Телефон*') this.value='';" onblur="if(this.value=='') this.value='Телефон*';" />
            <p></p>
            <a class="submit" href="#" data-what="Заявка с оптовой страницы - верхняя форма"></a>
        </form>

        <form class="bottom_form" action="#" method="post">
            <input type="text" name="name" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
            <p></p>
            <input type="text" name="email" value="Email" onfocus="if(this.value=='Email') this.value='';" onblur="if(this.value=='') this.value='Email';" />
            <p></p>
            <input type="text" name="phone" value="Телефон*" onfocus="if(this.value=='Телефон*') this.value='';" onblur="if(this.value=='') this.value='Телефон*';" />
            <p></p>
            <a class="submit" href="#" data-what="Заявка с оптовой страницы - нижняя форма"></a>
        </form>
    </div>

    <script type="text/javascript">
        window.addEvent('domready', function () {
            var images = $$('.slides img');
            var currentIndex = 0;
            var interval;
            images.each(function (img, i) {
                if (i > 0) {
                    img.setStyle('opacity', 0);
                }
            });
            var show = function () {
                images[currentIndex].fade('out');
                currentIndex = currentIndex < images.length - 1 ? currentIndex + 1 : 0;
                images[currentIndex].fade('in');
            };
            window.addEvent('load', function () {
                interval = show.periodical(5000);
            });
            

            $$('.certificates').addEvent('click', function (e) {
                e.stop();
                var div = new Element('div.cert_popup');
                var a = new Element('a[href=/img/certificates.jpg][target=_blank]').inject(div);
                new Element('img[alt=""][src=/img/certificates.jpg]').inject(a);
                new Element('p[html="Слева-направо: сертификат производителя HACCP (безопасность продукции), регистрация в Таиланде, сертификат продавца, химические тесты кокосового масла (сентябрь 2012)"]').inject(div);
                new burnUp({ 'offset': 150, 'width': 650, 'html': div });
            });

            $$('.recall').addEvent('click', function (e) {
                e.stop();
                var form = new Element('form.popup_form[method=post][action=#]');
                new Element('h1[html=ОБРАТНЫЙ ЗВОНОК]').inject(form);
                new Element('input[type=text][name=name][value=Имя][onfocus="if(this.value==\'Имя\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Имя\';"]').inject(form);
                new Element('p').inject(form);
                new Element('input[type=text][name=email][value=Email][onfocus="if(this.value==\'Email\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Email\';"]').inject(form);
                new Element('p').inject(form);
                new Element('input[type=text][name=phone][value=Телефон*][onfocus="if(this.value==\'Телефон*\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Телефон*\';"]').inject(form);
                new Element('p').inject(form);
                new Element('a.submit.submit_order[html=ЗАКАЗАТЬ ЗВОНОК][href=#]').store('what', 'обратный звонок с оптовой страницы').inject(form);
                new burnUp({ 'offset': 150, 'html': form });
            });

            document.body.addEvent('click:relay(.submit)', function (e) {
                e.stop();

                var obj = this.getParent().toJSON();
                obj.title = 'Заявка на опт!';
                obj.url = document.URL;
                obj.what = e.target.retrieve('what') || e.target.get('data-what');

                if (!obj.phone || obj.phone.test('Телефон', 'i') || obj.phone.trim() == '') {
                    alert('Укажите телефон');
                    return false;
                }

                if (obj.name && obj.name.test('Имя', 'i')) {
                    obj.name = '';
                }

                if (obj.email && obj.email.test('Email', 'i')) {
                    obj.email = '';
                }

                new Request.JSON({
                    url: '/site/sendmail',
                    onRequest: function () {
                        e.target.addClass('preload');
                        $$('.bt_popup_cont').addClass('preload');
                    },
                    onSuccess: function (responseJSON, responseText) {
                        e.target.removeClass('preload');
                        $$('.bt_popup_cont').removeClass('preload');

                        if (responseJSON.status == 1) {
                            alert('Cпасибо, мы приняли Вашу заявку, в самое ближайшее время наш менеджер свяжется с Вами. \nНам очень приятно что Вы оставили заявку!');
                            $$('.bt_popup_cont').each(function (popup) {
                                popup.retrieve('popup_class').close();
                            });

                            if (yaCounter21775183) {
                                yaCounter21775183.reachGoal('order_to_wholesale');
                            }
                            if (ga) {
                                ga('send', 'event', 'order_to_wholesale', 'response', obj.what || '');
                            }
                        } else {
                            alert('К сожалению на сервере произошла ошибка, попробуйте повторить позднее');
                        }
                    }
                }).post(obj);
            });
        });

        burnUp = new Class({
            Implements: [Options, Events, Chain],
            options: {
                'width': 300,
                'opacity': 0.85,
                'offset': 50,
                'popup_back': null,
                'popup_cont': null,
                'popup_border': null,
                'popup_cont_class': null,
                'html': null
            },
            initialize: function (options) {
                this.setOptions(options);

                var _tc = this.options.this_class = this;
                var _tc_o = _tc.options;

                //создадим html
                _tc_o.popup_back = new Element('div.bt_popup_back').setStyle('opacity', _tc_o.opacity).inject(document.body);
                _tc_o.popup_cont = new Element('div.bt_popup_cont').setStyle('width', _tc_o.width).inject(document.body);
                if (_tc_o.popup_cont_class) {
                    _tc_o.popup_cont.addClass(_tc_o.popup_cont_class);
                }
                _tc_o.popup_border = new Element('div.bt_popup_border').inject(_tc_o.popup_cont);
                new Element('img.close_btn[alt=""][src="/img/popup_close.gif"]')
                    .addEvent('click', function () { _tc.close(); }).inject(_tc_o.popup_cont);

                //присвоим класс к диву, чтобы найти объект всплывающего окна по диву div.bt_popup_cont
                _tc_o.popup_cont.store('popup_class', _tc);

                // расстянем фон на весь экран
                if (_tc_o.popup_back.getHeight().toInt() < window.getScrollSize().y)
                    _tc_o.popup_back.setStyle('height', window.getScrollSize().y);

                _tc_o.popup_back.addEvent('click', function () { _tc.close(); });

                // зададим координаты
                _tc_o.popup_cont.setStyles({
                    'top': _tc_o.offset + window.getScroll().y,
                    'left': window.getSize().x / 2 - _tc_o.popup_cont.getWidth() / 2 + window.getScroll().x
                });

                //вставим код
                if (_tc_o.html) {
                    if (typeOf(_tc_o.html) == 'string' || typeOf(_tc_o.html) == 'number') {
                        _tc_o.popup_border.set('html', _tc_o.html);
                    } else {
                        _tc_o.html.inject(_tc_o.popup_border);
                    }
                }

                return _tc;
            },
            clear: function () {
                this.options.popup_border.empty();

                return this;
            },
            set: function (html) {
                var _tc_o = this.options;

                if (typeOf(html) == 'string' || typeOf(html) == 'number') {
                    _tc_o.popup_border.set('html', html);
                } else {
                    html.inject(_tc_o.popup_border);
                }

                return this;
            },
            close: function () {
                var _tc = this.options.this_class;
                var _tc_o = _tc.options;

                _tc_o.popup_back.destroy();
                _tc_o.popup_cont.destroy();

                return _tc;
            }
        });

        Element.implement({
            toJSON: function () {
                var json = {};
                this.getElements('input, select, textarea', true).each(function (el) {
                    if (!el.name || el.disabled || el.type == 'submit' || el.type == 'reset' || el.type == 'file') return;
                    var value;
                    if (el.tagName.toLowerCase() == 'select') {
                        value = Element.getSelected(el).map(function (opt) {
                            return opt.value;
                        });
                    } else {
                        if (el.type == 'radio' && !el.checked) {
                            value = null;
                        } else if (el.type == 'checkbox') {
                            value = el.checked;
                        } else {
                            value = el.value;
                        }
                    }

                    Array.from(value).each(function (val) {
                        if (typeof val != 'undefined') {
                            json[el.name] = val;
                        }
                    });
                });
                return json;
            }
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-50195709-1', 'thai-oil.ru');
        ga('require', 'linkid', 'linkid.js');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter21775183 = new Ya.Metrika({
                        id: 21775183,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/21775183" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
